body {
  background-color: rgb(210, 210, 210);
}

.container {
  display: flex;
  justify-content: center;
}

.calculator {
  display: flex;
  flex-direction: column;
  border: 8px inset rgb(101, 101, 101);
  padding: 5px;
  background-color: rgb(33, 178, 35);
  width: 275px;
}

.display {
  border: 4px inset rgb(0, 0, 0);
  margin: 5px;
  padding: 0;
  background-color: rgba(70, 70, 70, 0.53);
}

.row {
  display: flex;
  justify-content: space-between;
}

.row {
  margin: 5px;
  font-size: 35px;
}

.clear {
  border: 4px inset black;
  width: 45px;
  height: 45px;
  text-align: center;
  padding-top: 5px;
  background-color: rgb(36, 235, 39);
}

.backspace {
  border: 4px inset black;
  width: 70px;
  height: 45px;
  text-align: center;
  padding-top: 5px;
  background-color: rgb(36, 235, 39);
}

.operator {
  border: 4px inset black;
  width: 45px;
  height: 45px;
  text-align: center;
  padding-top: 5px;
  background-color: rgb(36, 235, 39);
}

.divide {
  border: 4px inset black;
  width: 45px;
  height: 45px;
  text-align: center;
  padding-top: 5px;
  background-color: rgb(36, 235, 39);
}

.number {
  border: 4px inset black;
  width: 45px;
  height: 45px;
  text-align: center;
  padding-top: 5px;
  background-color: rgb(36, 235, 39);
}

.multiply {
  border: 4px inset black;
  width: 45px;
  height: 45px;
  text-align: center;
  padding-top: 5px;
  background-color: rgb(36, 235, 39);
}

.minus {
  border: 4px inset black;
  width: 45px;
  height: 45px;
  text-align: center;
  padding-top: 5px;
  background-color: rgb(36, 235, 39);
}

.plus {
  border: 4px inset black;
  width: 45px;
  height: 45px;
  text-align: center;
  padding-top: 5px;
  background-color: rgb(36, 235, 39);
}

.equal {
  border: 4px inset black;
  width: 45px;
  height: 45px;
  text-align: center;
  padding-top: 5px;
  background-color: rgb(36, 235, 39);
}

.zero {
  border: 4px inset black;
  width: 125px;
  height: 45px;
  text-align: center;
  padding-top: 5px;
  background-color: rgb(36, 235, 39);
}
