body {
  background-color: rgb(210, 210, 210);
}

.container {
  display: flex;
  justify-content: center;
}

.calculator {
  display: flex;
  flex-direction: column;
  border: 8px inset rgb(101, 101, 101);
  padding: 5px;
  background-color: rgb(33, 178, 35);
  width: 300px;
  height: 350px;
  margin-bottom: 30px;
}

.display {
  border: 4px inset rgb(0, 0, 0);
  margin: 5px;
  height: 70px;
  font-size: 30px;
  text-align: center;
  font-family: monospace;
  padding: 0;
  background-color: rgba(70, 70, 70, 0.399);
}

.row {
  display: flex;
  justify-content: space-between;
}

.row {
  margin: 5px;
  font-size: 35px;
}

#equalsBtn {
  border: 4px inset black;
  width: 55px;
  height: 45px;
  text-align: center;
  padding-top: 5px;
  background-color: rgb(36, 235, 39);
}

.operator {
  border: 4px inset black;
  width: 60px;
  height: 45px;
  text-align: center;
  padding-top: 5px;
  background-color: rgb(36, 235, 39);
}

#decimalBtn {
  border: 4px inset black;
  width: 55px;
  height: 45px;
  text-align: center;
  padding-top: 5px;
  background-color: rgb(36, 235, 39);
}

button {
  border: 4px inset black;
  width: 55px;
  height: 45px;
  text-align: center;
  padding-top: 5px;
  background-color: rgb(36, 235, 39);
}

.zero {
  border: 4px inset black;
  width: 125px;
  height: 45px;
  text-align: center;
  padding-top: 5px;
  background-color: rgb(36, 235, 39);
}

#clearBtn {
  border: 4px inset black;
  width: 133px;
  height: 45px;
  text-align: center;
  padding-top: 5px;
  background-color: rgb(36, 235, 39);
}

#backspaceBtn {
  border: 4px inset black;
  width: 133px;
  height: 45px;
  text-align: center;
  padding-top: 5px;
  background-color: rgb(36, 235, 39);
}

.previousTotals {
  margin-left: 15px;
  text-decoration: underline;
  font-size: 26px;
  background-color: rgb(183, 183, 248);
  border: 2px solid black;
  padding: 5px;
  box-sizing: border-box;
  text-align: center;
}
